@font-face {
  font-family: HKGothic;
  src: url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.woff2') format('woff2'),
       url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.woff') format('woff'),
       url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  background: rgba(100,0,0,0.1);
}


html,body {
  /* overflow: hidden; */
  background: black;
  font-family: HKGothic;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
}

#titles {
  height: 95vh;
  overflow: hidden;
  /* background: gold; */
  /* background: palegreen; */
}

#titles ul {
    height: 100%;
    width: 100%;
    margin: 0;
    white-space: nowrap;
}

#titles li {
    display: inline-block;
    /* height: 60%; */
    max-height: 60%;
    /* height: auto; */
    width: 8%;
    max-width: 8%;
    margin: 0 1%;
    /* background: red; */
    position: relative;
    /* z-index: -1; */
}

svg {
    height: 100%;
    width: 100%;
    overflow: visible;
}

#titles svg {
  /* background: deepskyblue; */
  overflow: visible;
}

.cls-1 {
  fill: #fff;   
}

#content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

#menu {
  height: 95vh;
  width: 100%;
  position: absolute;
  top: 0%;
  /* background: powderblue; */
}

.mute {
  width: 10%;
  height: 10%;
  position: relative;
  top: 35%;
  left: 40%;
}

.menu-item {
  position: absolute;
  display: inline-block;
  pointer-events: none;
  top: -15%;
}

.menu-item svg {
  pointer-events: none;
  width: 95%;
  height: 95%;
}

.menu-item svg g {
  pointer-events: auto;
}

#civvies {
  /* font-size: 3em; */
  height: 95vh;
  position: relative;
  top: 115vh;
  background: rebeccapurple;

}

.civvies-item {
  width: 100%;
  height: 100%;
  display: none;
}

.left {
  /* width: 60%;
  position: absolute;
  left: 0; */
  width: 45%;
  height: 100%;
  float: left;
}

.right {
  /* width: 40%;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 10%; */
  width: 35%;
  height: 100%;
  float: right;
}

#civvies ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  margin-bottom: 7.5%;
  margin-top: 1%;
}

#civvies li {
  display: inline-block;  
  width: 100%;
  font-size: 3vw;
}

#civvies h1 {
  margin: 0;
  padding: 0;
  font-size: 7vw;
  width: 100%;
}

#civvies img {
  display: inline-block;
  width: 100%;
  height: 65%;
  /* max-height: 40%; */
}

.credit {
  font-size: 3em;
  /* height: 100%; */
}












/* 
#civvies ul {
  display: inline-block;
  height: 50%;
  background: navy;
  list-style: none;
  margin: 0;
  position: relative;
  left: 0;
}

#civvies li {
  height: 100%;
  position: relative;
  left: 0;

}

#civvies h1 {
  position: relative;
  right: 0;
  top: 0;
  font-size: 3em;
  background: green;
}

#civvies img {
  position: absolute;
  height: 550px;
  width: 420px;
  border-radius: 5px;
  right: 0;
}

.civvies-descrip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
  margin-top: 7%;
  max-width: 80%;
} */