@font-face {
  font-family: HKGothic;
  src: url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.woff2') format('woff2'),
       url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.woff') format('woff'),
       url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* overflow: hidden; */
  background: black;
  font-family: HKGothic;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

#titles {
  height: 95vh;
  overflow: hidden;
  /* background: gold; */
  background: palegreen;
}

#titles ul {
    height: 100%;
    width: 100%;
    margin: 0;
    white-space: nowrap;
}

#titles li {
    display: inline-block;
    /* height: 60%; */
    max-height: 60%;
    /* height: auto; */
    width: 8%;
    max-width: 8%;
    margin: 0 1%;
    /* background: red; */
    position: relative;
    /* z-index: -1; */
}

svg {
    height: 100%;
    width: 100%;
    overflow: visible;
}

#titles svg {
  /* background: deepskyblue; */
  overflow: visible;
}

.cls-1 {
  fill: #fff;   
}

#content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

#menu {
  height: 95vh;
  width: 100%;
  position: absolute;
  top: 0%;
  background: powderblue;
}

.mute {
  width: 10%;
  height: 10%;
  position: relative;
  top: 35%;
  left: 40%;
}

.menu-item {
  position: absolute;
  display: inline-block;
  pointer-events: none;
  top: -15%;
}

.menu-item svg {
  pointer-events: none;
  width: 95%;
  height: 95%;
}

.menu-item svg g {
  pointer-events: auto;
}

#civvies {
  font-size: 3em;
  height: 95vh;
  position: relative;
  top: 105vh;
  background: rebeccapurple;
}

#civvies ul {
  display: inline-block;
  height: 60%;
  background: navy;
  list-style: none;
}

#civvies li {
  height: 100%;
}

.civvies-descrip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
  max-width: 60%;
}