@font-face {
  font-family: HKGothic;
  src: url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.woff2') format('woff2'),
       url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.woff') format('woff'),
       url('../media/fonts/HKGothic/WEB/HKGothicNo2-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* overflow: hidden; */
  background: black;
  font-family: HKGothic;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

#titles {
  height: 100vh;
  overflow: hidden;
  /* overflow-x: auto; */
}

#titles ul {
    height: 100%;
    margin: 0;
    white-space: nowrap;
}

#titles li {
    display: inline-block;
    height: 100%;
    width: 7%;
    margin: 0 2%;
    /* background: red; */
    position: relative;
    /* z-index: -1; */
}

svg {
    height: 100%;
    width: 100%;
}

.menu-item {
  pointer-events: none;
  position: relative;
}
.menu-item svg {
  pointer-events: none;
}

.menu-item svg g {
  pointer-events: auto;
}

.cls-1 {
  fill: #fff;   
}

#content-wrapper {
  width: 80%;
  margin: 0 auto;
}

#menu {
  height: 100vh;
  width: 100%;
  position: relative;
}

.menu-item {
  position: absolute;
  display: inline-block;
}

