 body {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: #abc;
    /* overflow: hidden; */
}

#video{
    /* background-image: url("../media/nike.png") ; */
    width: 100%;
    height: 60%;
    background-position: center;
    background-repeat: none;
    position: relative;
    margin-bottom: 5%;
/*     color: white; */
}

/* .portfolio-item:nth-child(1){
    width: 50%;
    color: green;
    position: absolute;
    margin-top: 2%;
    left: 4%;
    font-size: 4em;
} */

#video h2 {
    position: absolute;
    bottom: 18%;
    left: 4%;
    font-size: 2em;
}

#video p {
    width: 40%;
    position: absolute;
    bottom: 4%;
    left: 4%;
    font-size: 1em;
}

#video #logo {
    text-align: right;
    position: absolute;
    right: 4%;
    bottom: 18%;
}


.portfolio-item{
    display: none;
    width: 100%;
    height:100%;
    border-radius: 2em;
    background-position: center;
    background-repeat: none;    
}
.portfolio-item.investec {
    background-image: url("../media/investec.png");

}

.portfolio-item.nestle {
    background-image: url("../media/nestle.png");

}

#keys {
    display: block;
    background: antiquewhite;
}

#keys li {
    display: inline-block;
    
}


/* 
#keys {
    position: relative;
    background: blue;
    overflow: scroll;
    margin: 3% auto; 
    top: 5%;
}

#keys ul {
    list-style-type: none;
    transform: rotate(90deg);
    transform-origin: 0 0;
    padding:0%;
    width: 100%;
    margin: 0 auto;
    font-size: 3em;
    position: absolute;
    top: 0%;
    display: inline;
    background: brown;
}

.key {
    background: none;
    font-size: 2em;
}

.key a {
    color: black;
    text-decoration: none;
    display: block;
    
}

.key.investec:hover {
    background: grey;
}

.key.nestle:hover {
    background: tomato;
}

.key.nike:hover {
    background: teal;
}

.key.acne:hover {
    background: yellow;
}

.key.castle:hover {
    background: goldenrod;
}

.key.truworths:hover {
    background: pink;
}

.key.nedbank:hover {
    background: green;
}

.key.toyota:hover {
    background: grey;
}

.key.adidas:hover {
    background: thistle;
}

 */


 




















