body {
    padding: 0;
    margin: 0;
    background: #efefef;
    cursor: url(media/images/Cursor1.png), auto;
}

#content {
    height: 700px;
    width: 95%;
    margin: 0 auto;
    margin-top: 0.5em;
}

#video {
    height: 60vh;
    /* display: inline-block; */
    width: 100%;
    position: relative;
/*     background: blue; */
}

#keys {
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

#keys ul {
    padding:0%;
    position: relative;
}

#keys ul li {
    display: inline-block;
    height: 100%;
    width: 11%;
    vertical-align: top;
    /*padding: 10%; */
    /*test scroll ^*/
}

#keys a {
    height: 100%;
    display: inline-block;
}

#keys ul li img {
    height: 100%;
    width: 100%;       
}

.portfolio-item {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}

 .portfolio-item:first-child{
    display: block;
} 

.portfolio-item img {
    width: 100%;
    height: 100%;
    position: center;
}

.portfolio-item div {
    position: absolute;
    max-height: 40%;
    max-width: 60%;
    bottom: 0;
}

.project-name{
    color: white;
    height: 20%;
    width: 50%;
    margin-left: 5%;
    padding-top: 5%;
    /* margin-top: 5%;  */
}

.project-type {
    width: 50%;
    margin-left: 5%;
}

.portfolio-item p {
    width: 100%;
    margin-left: 5%;
}

#nike {
    background-image: url("../media/images/Portfolio-Video(P1).jpg");
}

#acne {
    background-image: url("../media/images/Portfolio-Video(P2).jpg");
}

#castle {
    background-image: url("../media/castle.jpg");
}


 #team {
    width: 100%;
    height: 60%;
     /*overflow: hidden; */
    position: relative;
    margin: auto;
    display: inline-block;
}

#team-heading {
    float: left;
    /*position: absolute;*/
    /* transform: rotate(90deg); */
    /* display: none; */
    margin: 2%;
    margin-left: 0%;
    height: 100%;
    /* position: relative; */
    /* width: 60%; */
}

#team-heading img {
    height: 16em;
    position: relative;
    top: 0%;
}

.team-member {
    display: none;
    /*max-width: 70%;*/
    width:100%;
    /* position: relative; */
    /* right: -20%; */
    margin: 2% 0%;
}

/*.team-member img {
    /* margin-right: 15px; */
    /*margin: 2% 2% 2% 0%;
    float: left;
}*/

.mugshot {
    width: 300px;
    height: 100%;
    border-radius: 1em;
    float: left;
    margin-right: 2em;
}

.team-member ul {
    list-style-type: none;
}

.team-member li:hover:before {
    content: "~";
}

.team-member p {
    padding-right: 3em;
}


#newsletter img {
    margin: 1em 0;
    width: 40%;
}

#mc_embed_signup{
    width: 50%;
    /*padding: 1em;*/
    background: rgb(3,80,200);
    border-radius: 1em;
    padding: 1em
}


#newsletter input {
    display: inline-block;
    margin: 1%;
}

#footer img {
    float: right;
}