@font-face {
    font-family: MalterSans;
    src: url('../media/fonts/malter-sans-demo-webfont.woff2') format('woff2'),
         url('../media/fonts/malter-sans-demo-webfont.woff') format('woff'),
         url('../media/fonts/malter-sans-demo-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background: #efefef;
    /*cursor: url('../media/images/Cursor(T1).png'), auto;*/
    overflow: auto;
    font-family: MalterSans;
    font-size: 21pt;
}

h1 {
    font-size: 120pt;
}

h2 {
    font-size: 48pt;
}

#content {
    height: 700px;
    width: 95%;
    margin: 0 auto;
    margin-top: 0.5em;
}

#video {
    height: 60vh;
    width: 100%;
    position: relative;
}

#keys {
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}


#keys ul {
    padding:0%;
    position: relative;
}

#keys ul li {
    display: inline-block;
    height: 100%;
    width: 11%;
    vertical-align: top;
}

#keys a {
    height: 100%;
    display: inline-block;
    position: relative;
}

#keys ul li img {
    height: 100%;
    width: 100%;
}

.key {       
    position: absolute;
    left: 0%;   
    z-index: 1;
}

.key-background {
   /*position: center;*/
   opacity: 0;
   z-index: -1;
}

.portfolio-item {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    position: absolute;
}

video {
    opacity: 0;    
    position: absolute;
    border-radius: 5em;
    width: 100%;
    height: 100%;
    
}

 #team {
    /*width: 100%;
    height: 60%;*/
     /*overflow: hidden; */
    position: relative;
    margin: auto;
    display: inline-block;
}

#team-heading {
    float: left;
    margin: 2%;
    margin-left: 0%;
    height: 100%;
}

#team-heading img {
    height: 16em;
    position: relative;
    top: 0%;
}

.team-member {
    display: none;
    width:100%;
    margin: 2% 0%;
}

.mugshot {
    width: 40%;
    height: 100%;
    border-radius: 1em;
    float: left;
    margin-right: 2em;
}

.team-member ul {
    list-style-type: none;
}

.team-member li:hover:before {
    content: "~";
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.team-member p {
    padding-right: 3em;
    
}

.mouse-trap {
    content: '';
    height: 50%;
    width: 100%;
    /*background: rgba(200, 100,50, 0.5);*/
    position: absolute;
    bottom: 0%;
}


#newsletter img {
    margin: 1em 0;
    width: 40%;
}

#mc_embed_signup{
    width: 50%;
    /*padding: 1em;*/
    background: rgb(3,80,200);
    border-radius: 1em;
    padding: 1em
}

#newsletter input {
    display: inline-block;
    margin: 1%;
}

#footer img {
    float: right;
}

.arrow-control{
    width: 10%;
    height: 10%;
    opacity: 0;
    z-index: 1;
}

#arrow-left {
    position: absolute;
    bottom: 1%;
    left: 0%;
}

#arrow-right {
    position: absolute;
    bottom: 1%;
    right: 0%;
}

